.wrapper {
    width: 763px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 0.75rem;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}
